<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <%- include('../includes/errors.ejs') %>
                <form action="/new-password" method="POST" class="mt-5 text-center">
                    <div class="form-group row">

                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                        <input type="hidden" name="userId" value="<%= userId%>">
                        <input type="hidden" name="passwordToken" value="<%= passwordToken%>">

                        <label for="new-password" class="col-12 col-lg-2 col-form-label">New Password</label>
                        <div class="col-12 col-lg-10 mb-4">
                            <input type="password" name="password" class="form-control" placeholder="*********" id="new-password">
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
        </main>
<%- include('../includes/end.ejs') %>