<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <%- include('../includes/errors.ejs') %>
                <form action="/reset" method="POST" class="mt-5 text-center">
                    <div class="form-group row">

                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">

                        <label for="email" class="col-12 col-lg-2 col-form-label">E-mail</label>
                        <div class="col-12 col-lg-10 mb-4">
                            <input type="text" name="email" class="form-control" placeholder="esam@example.com" id="email">
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Reset Password</button>
                </form>
            </div>
        </main>
<%- include('../includes/end.ejs') %>