<%- include('../includes/head.ejs') %>
    </head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <div class="container">
                <% if(prods.length > 0) { %>
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
                        <% for(var product of prods){ %>
                            <div class="col mt-3">
                                <div class="card text-center h-100">
                                    <img class="card-img-top" src="<%= product.imageURL%>" alt="book">
                                    <div class="card-body">
                                        <h5 class="card-title"><%= product.title %></h5>
                                        <p class="card-text font-weight-light"><%= product.description%></p>
                                    </div>
                                    <p class="font-weight-bold">Price: <%= product.price%> SR</p>
                                    <div class="row justify-content-around mb-4">
                                        <a href="/admin/edit-product/<%= product.id %>" class="btn btn-primary">Edit</a>
                                        <form action="/admin/delete-product" method="POST">
                                            <input type="hidden" name="productId" value="<%= product.id %>">
                                            <button type="submit"class="btn btn-danger">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                        </div>
                <% }else{ %>
                    <div class="row text-center col-12">
                        <p class="col-12">No product available</p>
                    </div>
                <% } %>
            </div>
        </main>
<%- include('../includes/end.ejs') %>
